.container {
  width: 512px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: white;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 6px;
  right: 6px;
  opacity: 0.5;
  cursor: pointer;
}

.submit {
  width: 100px;
  margin-top: 40px;
}
