.main {
  text-align: center;
  margin-top: 3rem;
}

.text {
  margin: 2rem auto 1rem auto;
  width: 480px;
  text-align: start;
}

.form {
  width: 275px;
  margin: auto;
}

.email {
  text-align: end;
}

.returnLogin {
  margin-top: 5px;
  display: block;
}