:root {
  --primary-black-color: #424242;
  --primary-white-color: #FFFFFF;
  --primary-blue-color: #2C73FF;
  --primary-gray-color: #A8A8A8;

  --transition: ease-in-out 0.3s;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

main {
	width: 100%;
}

body {
	color: var(--primary-black-color);
	background: var(--primary-white-color);
	font-family: var(--inter-font);
}